
.container{
	display:flex;
}

nav a{
	flex:1;
	color:black;
	text-decoration:none;
	font-family:arial;
    padding:20px;
	padding-left:20px;
	padding-top:30px;
}

.map iframe{
	display:flex;
	flex: 1;
	align-content:center;
	padding-left:100px
}

#map{
	justify-content:center;
	align-items:center;
	
}
#food div{
	padding:40px;
	margin:10px;
	border:solid 2px black;
    max-width:400px
}

#food{
	flex-wrap:wrap;
	
}

#info div{
	padding:40px;
	margin:10px;
	border:solid 2px black;
    max-width:600px
}

#info{
	flex-wrap:wrap;
}

.alphabet img{
	justify-content:center;
	align-items:center;
}
.center{
	justify-content:center;
	align-items:center;
}

*{
	font-style:charter;
	color:black;
	text-decoration:none;
}